<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/css/style.css" type="text/css">
        <title>signup</title>
        
    </head>
    <body>



        <header>
            <p>showup</p>
        </header>

        <a href="{{url_for('fan_signup')}}">Fan signup</a><br><br>
        <a href="{{url_for('fan_login')}}">login</a><br><br>
        <a href="{{url_for('get_fan_data')}}">get fan data</a><br><br>

        <a href="{{url_for('artist_signup')}}">artist signup</a><br><br>
        <a href="{{url_for('artist_login')}}">login</a><br><br>
        <a href="{{url_for('get_artist_data')}}">get artist data</a><br><br>
    </body>
</html>


