<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/style.css" type="text/css">
        <link rel="stylesheet" href="./static/style2.css" type="text/css">
        <link rel="stylesheet" href="./static/style3.css" type="text/css">
        <title>signup</title>
    </head>
    <body>



        <header>
            <p>showup</p>
        </header>

        <a href="{{url_for('signup')}}">Fan signup</a><br><br>
        <a href="{{url_for('get_data')}}">get_data</a><br><br>

    </body>
</html>


