<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>show id</th>
                <th>show name</th>
                <th> show date time</th>
                <th>venue id</th>
                <th>fan id</th>
                <th>artist id</th>
            </tr>
        </thead>
        <tbody>
            {% for show in shows %}
            <tr>
                <td>{{ show.show_id}}</td>
                <td>{{ show.show_name}}</td>
                <td>{{ show.show_date }}</td>
                <td>{{ show.venue_id }}</td>
                <td>{{ show.fan_id }}</td>
                <td>{{ show.artist_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>