<!DOCTYPE html>
<html lang="en"> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ticket</title>



    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="./css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <link rel="stylesheet" href="/static/css/ticket.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
  </head>
  <body>
    <style>
      body{
      background: url(/static/img/img1.jpg)
    }
    img{
      width: 70px;
      height: 70px;
      margin-left: 80%;
 }
</style>
    <nav class="d-flex  navbar bg-dark justify-center align-items-center">
        <h4 class="text-success font-weight-bold font-italic">ShowUp</h4>
        <ul class="d-flex  list-unstyled justify-center align-items-center">
          <li class="mr-5"><a class="text-white" href="/templates/pages/home.html">Home</a></li>
          <li class="mr-5 "><a class="text-white" href="/templates/pages/about.html">About</a></li>
          <li class="mr-5"><a class="text-white" href="#">Services</a></li>
          <li class="mr-5"><a class="text-white" href="/templates/pages/contact.html">Contact</a></li>
  
          <button class="btn btn-success text-white mr-15" type="button">Logout</button>
        </ul>
      </nav> 
      <!-- grid -->
    <div class="container mr-5 mt-5 m-cen"> 
      <div class="row">
          <div class="col-sm-5 p-4 bg-secondary text-center">
            <h1>PREMIUM</h1>
            <P>20,000FCFA</P>
          </div>
          <div class="col-sm-5 w-25 mx-auto p-4 bg-secondary text-center">
            <h1>ORDINARY</h1>
            <P>10,000FCFA</P>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-5 p-4 bg-white text-center">
            <button type="button" class="btn btn-success m-2">Buy</button>
          </div>
          <div class="col-sm-5  w-25 mx-auto p-4 bg-white text-center">
            <button  id="BuyButton" type="button" class="btn btn-success m-2">Buy</button>
          </div>
      </div>
    </div>
   
   
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Company<span>logo</span><span>  </span>SHOWUP</h3>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
					
					<a href="block.html">Blog</a>
				
					<a href="pricing.html">Pricing</a>
				
					<a href="about.html">About</a>
					
					<a href="service.html">Service</a>
					
					<a href="contact.html">Contact</a>
				</p>

				<p class="footer-company-name">Company Name © 2023</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="bi bi-geo-alt-fill"></i>
					<p><span>Ave, tech</span> OIC looptect,Valley</p>
				</div>

				<div>
					<i class="bi bi-phone"></i>
					<p>+237 650489447</p>
				</div>

				<div>
					<i class="fa bi-envelope"></i>
					<p><a href="looptech@company.com">looptech@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="bi bi-facebook"></i></a>
					<a href="#"><i class="bi bi-twitter"></i></a>
					<a href="#"><i class="bi bi-linkedin"></i></a>
					<a href="#"><i class="bi bi-github"></i></a>
          

				</div>

			</div>

		</footer>
    <script src="/home/robertnjee/Projects/Internship/showup_frontend/bootstrap/js/bootstrap.min.js"> 

    </script>
</body>

</html>