<!DOCTYPE html>
<html>
    <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" initial-scale="1.0">
<title>Show up</title>
<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/static/js/bootstrap.min.js">
<link rel="stylesheet" href="/static/css/style.css">
<!--for the font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    </head>
    <body>
      {% if errors %}
      <div class="error">{{ errors }}</div>
      {% endif %}
      <section>
          <div class="register py-5 bg-light">
            <div class="container">
              <div class="row no-gutters">
                 <div class="col-lg-5">
                     <img class=" card-img" class="l-img" src="/static/img/f2.jpg" class="img-fluid" alt="">
                     <div class="card-img-overlay">
                      <div class="card-body text-light">
                        
                        <p  class="card-title display-4 font-weight-bolder  ">welcome</p>
                        <p class="card-title display-6 font-weight-light">Discover million of events,get alerts about your favorite artists,teams,plays and more — plus always- secure, effortless ticketing.</p> 
                      </div>
                 </div>
                 </div>
                     <div class="col-lg-7 text-center py-5">
                        <h1 class="text-success">Welcome back</h1>
                      
                        <h6 id="enter_info" >please enter your information</h6>
                             <form action="/artist/login" method="post">
                                   <!--email-->
                               <div class="form-row pt-5 py-2"> 
                                   <div class="offset-1 col-lg-10 ">
                                <input type="email" class="inp" placeholder="Enter email" name="email" required>
                                   </div>
                               </div> 
                                
                                 <!--password-->
                               <div class="form-row pt-5 py-2"> 
                                <div class="offset-1 col-lg-10">
                             <input type="password" class="inp" placeholder="Enter password" name="password" required>
                                </div>
                            </div> 
 
                            <!--button-->
                          <div class="form-row py-3"> 
                              <div class="offset-1 col-lg-10">
                                   <button type="submit" value="submit" class="btn2">Login</button>
                              </div>
                          </div>
                          
                           <!--forgot password-->
                        <a href="#">Forgot password</a>
                        <p>Dont have an account? <a href={{url_for("artist_signup")}}>Register</a></p>
                             </form>
                     </div>
              </div>
            </div>
          </div>