<!DOCTYPE html>
<html>
    <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" initial-scale="1.0">
<title>Show up</title>
<link rel="stylesheet" href="./static/bootstrap.min.css">
<link rel="stylesheet" href="./static/bootstrap.min.js">
<link rel="stylesheet" href="./static/style.css">
<!--for the font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<style>
   
</style>
    </head>
    <body>

      <section class="section">
          <div class="register pb-5 bg-light ">
            <div class="container">
              <div class="row no-gutters">
                 <div class="col-lg-5">
                     <img class=" card-img" class="A-img" src="./static/img/A.jpg" class="img-fluid" alt="">
                     <div class="card-img-overlay">
                      <div class="card-body text-light">
                        <p  class="card-title display-4 font-weight-bolder text-success">welcome</p>
                        <p class="card-title display-6 font-weight-light">Discover million of events,get alerts about your favorite artists,teams,plays and more — plus always- secure, effortless ticketing.</p> 
                      </div>
                 </div>
                 </div>
                     <div  class="col-lg-7 text-center pt-5">
                        <h4 class="text-success ">Welcome to showup</h4>
                      
                        <h6 class="pt-2">please enter your informations</h6>

                             <form action="artist_signup" method = "post"> 
                               <!--full name-->
                              <div class="form-row-12 pt-2 py-2   "> 
                                <div class=" col-lg- col-sm-12 ">
                               <input type="text" class="inp2" placeholder="username" name="username" required>
                                  </div>
                           </div>
                              <!--Email/phone-->
                          <div class="form-row   "> 
                                <div class=" col-lg-4 offset-1 pt-2 ">
                               <input type="email" class="inp" placeholder="Enter email" name="email" required>
                                  </div>

                                  <div class=" col-lg-4 offset-1 pt-2 ">
                                    <input type="tel" class="inp"  placeholder="Enter phone" name="phonenumber" required>
                                       </div>
                          </div> 
                                      <!--password-->
                          <div class="form-row pt-2 py-2  "> 
                            <div class=" col-lg-4 offset-1 pt-2">
                           <input type="password" class="inp" placeholder="Enter password" name="password" required>
                              </div>

                              <div class=" col-lg-4 offset-1 pt-2">
                                <input type="password" class="inp"  placeholder="Confirm password" name="password1" required>
                                   </div>
                      </div> 
 
                            <!--button-->
                          <div class="form-row py-3"> 
                              <div class="offset-1 col-lg-10">
                                   <button type="submit" class="btn1" value="submit">Sign up</button>
                              </div>
                          </div>
                          
                           <!--register here-->
                        
                        <p>Already have an account? <a href="#">Login</a></p>
                     
                     
                    </form>
                   </div>
              </div>
            </div>
          </div>
      </section>
       

    </body>
</html>