<!doctype html>
<html lang="en"> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ticket</title>



    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="./css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <link rel="stylesheet" href="/static/css/ticket.css">
    <link rel="stylesheet" href="/showup_backend/static/css/ticket.css">
      <style>
         body {
    background: url(/showup_backend/static/img/img1.jpg)
    /* background: url(//static/img/img1.jpg) */
   }
   img{
    width: 70px;
    height: 70px;
    margin-left: 80%;
   }
   </style>
       
    
  </head>
  <body>
    <!-- navbar -->
    <nav class="d-flex  navbar bg-dark justify-center align-items-center">
        <h4 class="text-success font-weight-bold font-italic">ShowUp</h4>
        <ul class="d-flex  list-unstyled justify-center align-items-center">
          <li class="mr-5"><a class="text-white" href="/templates/pages/home.html">Home</a></li>
          <li class="mr-5 "><a class="text-white" href="/templates/pages/about.html">About</a></li>
          <li class="mr-5"><a class="text-white" href="#">Services</a></li>
          <li class="mr-5"><a class="text-white" href="/templates/pages/contact.html">Contact</a></li>
  
          <button class="btn btn-success text-white mr-15" type="button">Logout</button>
        </ul>
      </nav> 
      <!-- grid -->
    <div class="container mr-5 mt-5 m-cen"> 
      <div class="row">
          <div class="col-sm-5 p-4 bg-secondary text-center">
            <h1>PREMIUM</h1>
            <P>20,000FCFA</P>
          </div>
          <div class="col-sm-5 w-25 mx-auto p-4 bg-secondary text-center">
            <h1>ORDINARY</h1>
            <P>10,000FCFA</P>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-5 p-4 bg-white text-center">
            <button  id="payButton" type="submit" class="btn btn-success m-2"><a href="/showup_backend/templates/forms/payment.html">Buy Now</a></button>

            <!-- <button type="submit" id="payButton" class="btn btn-success m-2">puy</button> -->
          </div>
          <div class="col-sm-5  w-25 mx-auto p-4 bg-white text-center">
            <!-- <button type="submit" onclick="payWithPaystack()"> Pay Now</button> -->
            <button  id="payButton" type="submit" class="btn btn-success m-2"><a href="/showup_backend/templates/forms/payment.html">Buy Now</a></button>
          </div>
      </div>
    </div>
    <!-- footer -->
    <footer>
      <div class="container-fluid text-center">
         <div class="row">
          <div class="col-sm-3">
            <h1>SHOWUP</h1>
          </div>
          <div class="col-sm-3">
            <ul>
              <li><h2>CONNECT</h2></li>
              <li>
                <a  target="_blank"  href="https://www.instagram.com/blaustern_fotografie/">Instagram
                  <!-- <img class=“sm_icon“ src="icons/instagram.png"> -->
                </a>

              </li>
              
              <li>
                <a target="_blank"   href="https://www.facebook.com/blaustern_fotografie/" >Facebook</a>
              </li>
              <li><a action="_blank" href="https://www.Twitter.com/blaustern_fotografie/">Twitter</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul>
              <li><h2>Help</h2></li>
              <li><a href="">Contact us</a></li>
            </ul>
          </div>
         </div>
      </div>
    </footer>


    <script>
      // console.document.getElementById('paymentForm');
      console.document.getElementById('payButton');

      form.addEventListener('submit', event => {
          event.preventDefault();

          // Disable the pay button to prevent multiple clicks
          payButton.disabled = true;

          // Retrieve form data
          // const formData = new FormData(form);
          // const amount = formData.get('amount');
          // const email = formData.get('email');
          // const address = formData.get('address');
          // const phone = formData.get('phone');
          // const full_name = formData.get('full_name');
          // // const full_name = formData.get('full_name');
          // const phone = formData.get('phone');
         

          // Make a request to the Flask route to initialize the payment
          fetch('/paystack/initialize', {
              method: 'POST',
              body: new URLSearchParams()
          })
          .then(response => response.json())
          .then(data => {
              // Redirect the user to the Paystack authorization URL
              const authorizationUrl = data.authorization_url;
              window.location.href = authorizationUrl;
          })
          .catch(error => {
              console.error('Payment initialization error:', error);
              // Re-enable the pay button on error
              payButton.disabled = false;
          });
      });
  </script>
    <!-- <script src="https://js.paystack.co/v1/inline.js"></script>  -->
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script src="/showup_backend/static/js/bootstrap.min.js"> 
    // <script src="/home/robertnjee/Projects/Internship/showup_frontend/bootstrap/js/bootstrap.min.js"> 

    </script>
</body>

</html>